*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, 
body{
    height: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    background-color: whitesmoke;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    min-height: 100vh;
    background-image: url(img/header-bg.jpg);
    background-size: cover;
    display: flex;
    overflow: hidden;
}
.menu__body{
    max-width: 1300px;
    margin: 0px auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logoMenu{
    transition-duration: 0,4s;
    max-height: 53px;
    max-width: 207px;
}
.menu{
    width: 100%;
    max-height: 80px;
    position: fixed;
    background: #000000bd;
    z-index: 999;
    box-shadow: 0px 3px 16px 2px rgb(0 0 0 / 15%);
    transition-duration: 0.5s;
}
.menu__color{
    background: white;
    transition-duration: 0.5s;
}
.phone__menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 999;
    background: white;
    max-width: 1300px;
}
.show{
    display: flex;
}
.phoneMenu{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 999;
    background: white;
}
.phoneMenu__link{
    text-align: center;
    font-size: 5rem;
    color: blue;
}
.menu__label{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu__label a{
    color: white;
}
.menu__button,
.menu__button::before,
.menu__button::after{
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
}
.bar1, .bar2, .bar3 {
    width: 45px;
    height: 5px;
    background-color: #194484;
    margin: 3px 0;
    transition: 0.4s;
    z-index: 999;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    z-index: 999;
}

.change .bar2 {
    opacity: 0;
    z-index: 999;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.menu__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 0 40px;
}
.menu__link-scroll{
    color: #0D6EB7;
    transition-duration: 0.3s;
}
.header__body{
    width: 100%;
    flex: 1 1 auto;
    max-width: 1300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.46262254901960786) 68%, rgba(255,255,255,0) 100%);
    padding: 50px 120px;
    padding-right: 400px;
}

.header__title{
    font-family: 'Itim';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-top: 50px;
}
.header__info{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    max-width: 551px;
    
}
.header__buttons-holder{
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
}
.header_button1, 
.header_button2{
    border-radius: 6px;
    padding: 4px 40px;
    transition-duration: 0.4s;
    white-space: nowrap;
    background: #06B25F;
    max-height: 42px;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    line-height: 36px;
    margin: auto 0;
    cursor: pointer;
    text-transform: uppercase;
}
.header_button1{
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    padding: 2px 60px;
    margin-right: 24px;
    transition-duration: 0.4s;
    background: none;
    color: white;
    font-family: 'Montserrat';
}
.header_button2{
    border-radius: 6px;
    padding: 4px 40px;
    transition-duration: 0.4s;
    white-space: nowrap;
    background: #06B25F;
    font-family: 'Montserrat';
    color: white;
}
.header_button1:hover{
    background: #00d084;
    border: 2px solid #00d084;
}
.header_button2:hover, 
.review__button:hover{
    background: #047c42;
}
.content__body{
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px 20px;
}
.block1{
    margin-bottom: 120px;
    
}
.body__title{
    padding-bottom: 60px;
}
h2{
    font-family: 'Itim';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #194484;
    padding-bottom: 100px;
}
.stans{
    color: #00A4E8;
}
.assets{
    color: #194484;
}
p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #242424;
    padding-bottom: 30px;
}
.leading__platforms-holder{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}
.platform__icon{
    cursor: pointer;
}
.reviews__box{
    background: #FFFFFF;
    box-shadow: 0px 3px 16px 2px rgb(29 51 107 / 15%);
    border-radius: 16px;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.review__logo{
    margin: 10px
}
.review__stars{
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
}
.review__button{
    border-radius: 6px;
    padding: 4px 10px;
    transition-duration: 0.4s;
    white-space: nowrap;
    background: #06B25F;
    max-width: 500px;
    max-height: 42px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    line-height: 36px;
    margin-top: 45px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0D6EB7;
    margin-bottom: 4px;
    text-align: left;
}
.service__paragraph{
    max-width: 553px;
    text-align: left;
}
.service__section1,
.service__section3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}
.service__section2,
.service__section4{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.service__image{
    max-height: 500px;
    display: block;
    min-width: 50%;
}
.half__page{
    background-color: red;
    background-size: cover;
    display: flex;
    overflow: hidden;
}
.line1,
.line2{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.fon1{
    width: 100%;
}
.fon2{
    width: 100%;
}
.fon3{
    width: 100%;
}
#partners{
    top: 7px;
}
.line3{
    width: 100%;
    position: relative;
    display: block;
    top: 2px;
}
.inside__line{
    margin: 0px auto;
    padding: 150px 20px;
    background: #276ed8;
    align-items: center;
}
.inside__line3{
    background: #194484;
    padding-top: 60px;
    padding-bottom: 60px;
}
.inside__line2{
    background: #e5e9f3;
    padding: 120px;
}
.looking__content{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
}
.looking__button{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
    border-radius: 6px;
    white-space: nowrap;
    background: none;
    max-width: 285px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    padding: 2px 60px;
    transition-duration: 0.4s;
}
.looking__button:hover{
    background: #06B25F;
    border: 2px solid #06B25F;
}
.looking__title,
.looking__subtitle,
.looking__button{
    text-align: center;
}
.ach__card{
    display: flex;
    background: #bfc6d4;
    border-radius: 16px;
    width: 300px;
    min-height: 350px;
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.ach__img{
    margin: 0 auto;
    text-align: center;
    max-height: 300px;
    max-width: 280px;
    padding-left: 20px;
}
.a__span{
    color: #276ED8;
}
.a_text{
    font-size: 1rem;
    padding: 30px;
}
.card__holder{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contacts__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
    color: #242424;
}
.contacts__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}
#info__text{
    font-size: 1.4rem;
}
.partner__content{
    max-width: 1300px;
    margin: 0 auto;
}
.card__holder{
    
}
a{
    text-decoration: none;
}
.contacts__body{
    margin-top: 108px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.info__holder{
    text-align: center;
    margin-right: 169px;
}
@media screen and (max-width: 1172px){
    .info__holder{
        margin-right: 0px;
    }
    .contacts__subtitle{
        font-size: 0.75rem
    }
    .contacts__title{
        font-size: 1rem;
    }
}
.info__icon{
    padding-right: 0.3em;
}
.askUs__card{
    width: 420px;
    height: 400px;
    position: relative;
    background: white;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
    border-radius: 6px;
    padding: 45px;
}
.footer_s{
    color: white;
    font-size: 3rem;
    font-family: 'Montserrat';
}
.inputbox{
    position: relative;
    max-width: 300px;
    height: 50px;
    margin-bottom: 30px;
    border: 
}
.askUs__input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    outline: none;
    background: none;
    padding: 10px;
    font-size: 1.2em;
    margin: 0 auto;
    color: black;
}
.inputbox:last-child{
  margin-bottom: 0;
}
.inputbox span{
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
    font-family: Cuprum;
}
.inputbox .askUs__input:focus ~ span,
.inputbox .askUs__input:valid ~ span{
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.askUs__button{
    position: relative;
}
.askUs__btn{
    border-radius: 6px;
    padding: 10px 40px;
    white-space: nowrap;
    background: #06B25F;
    transition-duration: 0.4s;
    max-width: 500px;
    max-height: 42px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 45px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
}
.askUs__btn:hover{
    background: #047c42;
}
#message__input{
    padding-bottom: 20px;
    margin-bottom: 1px;
}
.footer__title{
    font-size: 4rem;
    font-family: 'Montserrat';
    color: black;
    font-weight: 800;
}
.footer__icon{
    padding-right: 20px;
}
.footer{
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer__body{
    max-width: 1300px;
    margin: 0px auto;
    padding: 30px 20px;
    justify-content: space-between;
    display: flex;
}
.footer__link{
    margin-left: 40px;
    cursor: pointer;
}
@media (max-width: 767px){
    .menu__button{
        display: flex;
        position: relative;
    }
    .menu__label{
        display: none;
    }
    .header__info{
        text-align: center;
    }
    .header__body{
        padding: 50px 50px;
    }
    .header_button1{
        margin-top: 10px;
    }
    .header_button2{
        margin-top: 10px;
    }
}
@media (min-width: 768px){
    .phone__menu{
        display: none;
    }
}
